@import url(https://fonts.googleapis.com/css2?family=Shizuru&display=swap);

* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #282a36;
    color: white;
}

header{
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0,0,0,0.1);
}
header div {
    text-align: center;
}
header div a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
}
header div a:hover {
    color: #55fa7b;
    transition: color 700ms;
}

.wrapper {
    text-align: center;
    padding: 32px;
    font-family: 'Shizuru', cursive;
}

.wrapper img {
    border-radius: 200px 50px 10px;
    border: 5px solid #55fa7b;
    margin-bottom: 32px;
}

.wrapper p {
    padding: 12px;
    font-size: larger;
    text-align: justify;
}
.descrição {
    padding: 32px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

.sobre {
    padding: 32px 0 0 0;
    font-family: 'Times New Roman', Times, serif;
}
.sobre h2 {
    padding: 12px;

}
.sobre p {
    padding-top: 12px;
    font-size: larger;
    text-align: center;
}
.formação {
    padding: 32px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
.formação h3 {
    padding: 12px;

}
.formação p {
    padding-top: 12px;
    font-size: larger;
    text-align: justify;
}
.formação a {
    padding: 0;
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    text-decoration: none;
}
.formação a:hover {
    color: #55fa7b;
    transition: color 700ms;
}
.experiencias {
    padding:0 32px;
}

.experiencias h2 {
    padding: 12px;
    padding-left: 0;
}

.experiencias h3 {
    padding: 12px;
    padding-left: 0;
}

.experiencias p {
    text-align: justify;
    font-size: large;
    padding: 12px 0 12px;
}
.experiencias p1 {
    text-align: justify;
    font-size: large;
    font-weight: bold;
    padding-bottom: 12px;
}
.certificações {
    padding: 32px 32px 32px;
    text-align: justify;
}
.certificações h2 {
    padding-bottom: 12px;
}
.certificações a {
    color: white;
    font-size: larger;
    text-decoration: none;
    border: 12px;
}
.certificações a:hover {
    color: #55fa7b;
    transition: color 700ms;
}