@import url(https://fonts.googleapis.com/css2?family=Shizuru&display=swap);


body {
    background: #282a36;
    color: white;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

header{
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0,0,0,0.1);
    margin: 0;
    width: 100vw;
}
header div {
    text-align: center;
}
header div a {
    text-align: center;
    color: white;
    font-size: 30px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
    font-family: 'Shizuru', cursive;
}
header div a:hover {
    color: #55fa7b;
    transition: color 700ms;
}

.wrapper {
    text-align: center;
    padding-bottom: 0;
    font-family: 'Shizuru', cursive;
}
.wrapper h1 {
    padding: 12px;
    padding-bottom: 0;
    margin: 0;
}
.wrapper h3 {
    font-size: 25px;
}
.wrapper img {
    border-radius: 200px 50px 10px;
    border: 5px solid #55fa7b;
    margin-bottom: 32px;
    align-content: center;
}

.wrapper p {
    padding: 32px;
    font-size: larger;
    text-align: justify;
}
.wrapper a {
    text-align: center;
    color: white;
    font-size: 20px;
    line-height: 28px;
    margin: 0 16px;
    text-underline-offset: 10px;
    text-decoration-color: #55fa7b;
}
.wrapper a:hover {
    color: #55fa7b;
    transition: color 700ms;
}
.descrição {
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
.sobre {
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.sobre h3 {
    font-size: 25px;

}
.sobre p {
    padding-top: 0;
    font-size: larger;
    text-align: center;
}
.formação {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    padding: 0 32px;
}
.formação p {
    
    padding:5px 0 0 0;
    font-size: larger;
    text-align: justify;
    margin: 0;
}
.formação a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    text-underline-offset: 10px;
    text-decoration-color: #55fa7b;
}
.formação a:hover {
    color: #55fa7b;
    transition: color 700ms;
}
.experiencias {
    padding:0 32px;
}

.experiencias h2 {
    padding: 12px;
    padding-left: 0;
}

.experiencias h3 {
    padding: 12px;
    padding-left: 0;
}

.experiencias p {
    text-align: justify;
    font-size: large;
    padding: 12px 0 12px;
}
.experiencias p1 {
    text-align: justify;
    font-size: large;
    font-weight: bold;
    padding-bottom: 12px;
}
.certificações {
    margin: 0;
    padding: 32px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: justify;
}
.certificações a {
    color: white;
    font-size: larger;
    margin-top: 10px;
    text-underline-offset: 10px;
    text-decoration-color: #55fa7b;
    margin: 0;
    padding-bottom: 15px;
}
.certificações a:hover {
    color: #55fa7b;
    transition: color 700ms;
}